:root{
    --font-family-lato: 'Lato', -apple-system, sans-serif, system-ui;

    --color-primary: #F22539;
    --color-secondary: #C00E20;
    --color-accent: #ECA539;
    --color-gray-soft: #E8E8E8;
    --color-gray-medium: #BFBFBF;
    --color-gray-dark: #5E5E5E;
    --color-black: #353535;
    --color-white: #F9F9F9;
    --color-white-medium: #F5F5F5;

    --border-radius-xs: 5px;
    --border-radius-sm: 10px;
    --border-radius-md: 20px;
    --border-radius-lg: 30px;
    --border-radius-xl: 60px;
    
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
  
    --font-size-xs: 0.8rem;
    --font-size-sm: 0.9rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2.3rem;
    --font-size-2xl: 6rem;
}